.container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 2rem 1rem;
  width: 100%;

  .title {
    font-weight: 700;
    color: #006838; // xanh đậm FUTA
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .description {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
  }

  .itemList {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #444;
      font-weight: 500;
      font-size: 1.1rem;
      max-width: 120px;

      &.highlight {
        color: #FF4517; // màu cam nổi bật
        font-weight: 600;
      }

      .iconWrap {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgba(255, 69, 0, 0.1); // nền cam nhạt như hình
        display: flex;
        align-items: center;
      }
    }
  }
}


img {
  width: 100%;
}