.container {
    margin: 40px auto;

    .content {
        width: 800px;
        height: auto;
        border-radius: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;

        h2 {
            font-weight: 500;
            font-size: 17px;
            margin-bottom: 10px;
        }

        .item {
            margin: 10px 0;
            display: flex;

            label {
                width: 30%;
            }

            .price {
                color: red;
            }
        }
        button {
            padding: 8px 12px;
            background-color: #2eb4fc;
            color: #fff;
            border-radius: 6px;
            width: 120px;
            margin-top: 10px;
            margin: 0 auto;
            outline: none;
        }
    }
}