.lookup {
    display: flex;
    flex-direction: column;
    width: 100%;
    .top {
        width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
        span {
            margin-top: 20px;
            font-size: 20px;
            margin: 0 auto;
            text-transform: uppercase;
            font-weight: bold;
        }
        input {
            padding: 12px 14px;
            border: 1px solid #dde2e8;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            &:hover {
                border: 1px solid #2eb4fc;
            }
        }

        .search-button {
            margin-bottom: 50px;
            width: 200px;
            margin: 0 auto;
            background-color: #2eb4fc;
            color: black;

        }
    }
     .bottom {
        width: 800px;
        margin: 0 auto 30px auto;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        h2 {
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .item {
            margin-bottom: 15px;
            label {
                font-weight: 500;
                width: 32%;

            }

            .price, .start {
                color: red;
            }
        }
     }   
    }