 .contentRegister {
  h2 {
      margin-bottom: 20px;
      margin: 0px auto;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }
      .inputGroup {
      position: relative;
      margin-bottom: 20px;

      .iconEmail {
        position: absolute;
        left: 10px;
        top: 32px;
        color: rgb(46, 180, 252);
      }

      .iconName {
        position: absolute;
        left: 10px;
        top: 95px;
        color: rgb(46, 180, 252);
      }

       .iconPassword {
        position: absolute;
        left: 10px;
        top: 160px;
        color: rgb(46, 180, 252);
      }

      .iconConfirmPassword {
        position: absolute;
        left: 10px;
        top: 220px;
        color: rgb(46, 180, 252);
      }

      .iconShowPassword {
        position: absolute;
        top: 160px;
        right: 15px;
        cursor: pointer;
        font-size: 17px;

      }

      .iconShowConfirmPassword {
        position: absolute;
            top: 220px;
          right: 15px;
        font-size: 17px;
        cursor: pointer;

      }
      .email , .password, .name{
        margin-top: 20px;
        width: 100%;
        padding: 10px 10px 10px 35px;
        border: 1px solid rgb(46, 180, 252);
        border-radius: 6px;
        outline: none;

        &::placeholder {
          color: #aaa;
        }
      }
    }

    .button {
      padding: 12px;
      background-color: #0973b9;
      color: #fff;
      border: none;
      border-radius: 999px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      width: 100%;
    }

    .forgotPassword {
      margin-top: 10px;
      color: black;
      font-size: 14px;
      cursor: pointer;
      text-align: right;
      font-weight: 500;
    }
    }