@use "./mixin" as mix;
.wrapper-layout {
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  background-color: #f0f0f0;
}

.header {
  background-color: rgb(46, 180, 252);
  color: #000;
}

.main {
  flex: 1;
}

.footer {
  background-color: var(--light);
}
